// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.console {
  height:85vh; 
  background-color:#333;
  color:orange;
  font-family:monaco; 
  padding:6px; 
  overflow:scroll;
}

.w80p{width:80%;}

#query_results {
  input {
    background-color:#333;
    color:orange;
    border:none;
    width:60%;
    outline:none;
  }
}

// <nav id="nav-element"> 
//   <button id="button-dropdown">Dropdown </button>
//   <div id="div-products">
//     <a href="">Product 1 </a>
//     <a href="">Product 2 </a>
//     <a href="">Product 3 </a>
//     <a href="">Product 4 </a>
//     <a href="">Product 5 </a>
//   </div>
// </nav>

/* <nav> element */
 #nav-element {
   position: relative;
   display: inline-block;
   z-index: 99;

 }

/* <button> element */
 #button-dropdown {
   width: 10rem;
   margin: auto;
   padding: 0.5rem 0rem;
   background-color: #3b70ff;
   color: white;
   border: 1px solid #3b70ff;
 }

 /* <div> element */
  #div-products {
    display: none;
    width: 10rem;
    margin: auto;
    color: #3b70ff;
    border: 1px solid #3b70ff;
    z-index: 99;

  }

  
  /* <a> element */
  #div-products a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0rem;
    z-index: 99;

  }

  #nav-element:hover #div-products {
    display: block;
  }

  #div-products a:hover {
    background-color: #3b70ff;
    color: white;
  }